CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/Humanizer.dll
bin/Debug/netcoreapp3.1/Test.deps.json
bin/Debug/netcoreapp3.1/Test.dll
bin/Debug/netcoreapp3.1/Test.exe
bin/Debug/netcoreapp3.1/Test.pdb
bin/Debug/netcoreapp3.1/Test.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Test.runtimeconfig.json
bin/Debug/netcoreapp3.1/af/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/ar/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/az/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/bg/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/bn-BD/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/cs/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/da/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/de/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/el/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/es/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/fa/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/fi-FI/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/fr/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/fr-BE/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/he/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/hr/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/hu/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/hy/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/id/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/it/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/ja/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/lv/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/ms-MY/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/mt/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/nb/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/nb-NO/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/nl/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/pl/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/pt/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/ro/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/ru/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/sk/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/sl/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/sr/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/sr-Latn/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/sv/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/tr/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/uk/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/uz-Cyrl-UZ/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/uz-Latn-UZ/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/vi/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/zh-CN/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Humanizer.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Humanizer.resources.dll
obj/project.assets.json
obj/project.nuget.cache
obj/Test.csproj.nuget.dgspec.json
obj/Test.csproj.nuget.g.props
obj/Test.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Test.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Test.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Test.assets.cache
obj/Debug/netcoreapp3.1/Test.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Test.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Test.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Test.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Test.dll
obj/Debug/netcoreapp3.1/Test.exe
obj/Debug/netcoreapp3.1/Test.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Test.pdb
Test.csproj
